<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:


*   Learn about Python
*   Learn about R
*   Learn about Jupyter Notebooks

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3. Julia
4. C++

Some of the commonly used libraries used by Data Scientists include:


1.   Numpy
2.   Pandas
3.  Matplotlib

| Data Science Tools|
| --- |
| Watson |  
| VSCode |  
| Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
str(200//60) + ":" + str(200 %60)

'3:20'

<h2>Author</h2>
Khaleel Hassan